
h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: red;
  border: 7px;
  padding: 5px;
  border-style: outset;
}

p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color:white
}  

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div { 
  color: yellow;
  display: block;
  background: blue;
  padding: 3px;
  font-size: 15px;
  text-align: center;
  font-family: Tahoma, Verdana, sans-serif;
}

body {
  background-color: red;
}

h3{color: yellow;}
