
<style>



h1{color: white;}

li{color: white;}


body {background-color: lightblue;}


#topmenu {
background: black;
padding: 10px 20px;
border-bottom: 1px solid #e1e1e1;
border-top: 1px solid #e1e1e1;
}
#topmenu ul { margin: 0; padding: 0; list-style-type: none;}
#topmenu li { display: inline; padding: 0 20px 0 0 }
#topmenu li a { text-decoration: none; 
               
}


</style>
