<style>


p1{color: black;}

li{color: white;}


body {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fthewatchdogonline.com%2Fwp-content%2Fuploads%2F2019%2F04%2FBell-foundation-e1556327142355.jpg&f=1&nofb=1&ipt=c497e7c0b12a178898bc451fe4299398c456e93be5bedc00a3244a784c44a1bd&ipo=images);
  
} 

.vertical-menu{text-align: center;}

h1{color: blue;}

</style>
