<style>


p1{color: black;}

li{color: white;}


body {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.UBfeyhyW5qTptfXUuoYEjwHaHW%26pid%3DApi&f=1&ipt=c1d3a9ed9b496e944dec075662b160729af9d03b2d564be3c92b9d8d4773187a&ipo=images");
  
} 

.vertical-menu{text-align: center;}

h1{color: blue;}

</style>
