<style>



h1{color: blue;}

li{color: red;}


body {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.T-IHQs7AURUU-iiBtglpLAHaEK%26pid%3DApi&f=1&ipt=1b7a2ae9605947eefdefe02d8ad5d85781e0c828aabad63bba9698e77f5bda0e&ipo=images");
}


</style>
