<style>



h1{color: white;}

li{color: white;}


body {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.n56MJLQJA__D-geMm4HwuwHaDo%26pid%3DApi&f=1&ipt=2b5cbc7d869233e60b446cbcd456e957a4ebccfb2ef2cb1187126c7aa1c20aba&ipo=images");
}


</style>
