html {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.0wxSGuHZn92_93xOQxeR4AHaDZ%26pid%3DApi&f=1&ipt=eefcee5c728c0f59760d8fc6af9e26527868755d782e72ab145d8a1e9f63bcb6&ipo=images");
}

h1{color: blue}

li{color:red}
